.env
.vs
*.tiff
.git
.vscode
.idea
.claude
*.pdf
profiling/*

*.egg-info/
build/
dist/

.venv/
venv/

__pycache__/
*.pyc

data/*
/src/ROI/GAT/Hi_res/Inflammation_roi1/NormalizedChannel_Tile_gat_128_128_194
/src/ROI/GAT/NormalizedChannel_Tile_gat_128_128_194
/src/ROI/GAT/Hi_res/Inflammation_roi1/preprocessed_Tile_gat_128_128_194
/src/ROI/GAT/preprocessed_Tile_gat_128_128_194
/src/ROI/GAT/Hi_res/Inflammation_roi1/dataset
/src/ROI/GAT/dataset
analysis_results.bioset
Biomni
/output_meshes
/preprocessed
/Preprocessing/mis_full
/Preprocessing
